<div class=" row ">
	<div class="col col-33"></div>
    <div class="col col-33">
		<label class="item item-input item-floating-label">
			<span class="input-label">User</span>
			<input type="text" placeholder="User" ng-model="user" >
		</label>

		<label class="item item-input item-floating-label">
    		<span class="input-label">Password</span>
			<input type="password" placeholder="Passowrd" ng-model="password" >
		</label>

		<button class="button button-full button-positive" ng-click="login()" >
     		Access
    	</button>
</div>
